.titleSplash{
	/* Darkened background */
	background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("StreetBanner.jpg");
	background-repeat: no-repeat;
	background-size : cover;
	
	width : 100%;
	height : 500px;
	
	color: white;
	font-variant: small-caps;
	
	overflow:hidden;
}
.titleSplashHead{
	font-size: 4em;
	font-weight: bold;
	text-align : right;
	padding-right : 15px;
	padding-top : 50px;
	border-right : solid;
	
	margin-left : 10%;
	width : 35%;
	height: 100%;
	float:left;
	
}
.titleSplashTOC{
	font-size: 4em;
	text-align : right;
	padding-top : 50px;
	
	margin-right : 10%;
	float:right;
	height:100%;
	width : 35%;
}

.titleSplashTOC ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index : 1;
}
.titleSplashTOC ul li a{
	/* Transitioning Effect */
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
	
	color:grey;
	text-decoration:none;
	
}
.titleSplashTOC ul li a:hover {
	color:white;
	text-shadow: 2px 2px 5px black;
}
#network {
	/* Darkened background */
	background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("router.jpg");
	background-repeat: no-repeat;
	background-size : cover;
}
#camera {
	/* Darkened background */
	background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("camera.jpg");
	background-repeat: no-repeat;
	background-size : cover;
}
#smarthome {
	/* Darkened background */
	background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("home.jpg");
	background-repeat: no-repeat;
	background-size : cover;
}
#alarm {
	/* Darkened background */
	background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("alarm.jpg");
	background-repeat: no-repeat;
	background-size : cover;
}
#introText {
	color: black;
}